cyclonedds==0.10.2
numpy==2.2.6
opencv-python==4.13.0.92
Flask==3.1.2
Flask-SocketIO==5.6.0
-e git+https://github.com/unitreerobotics/unitree_sdk2_python.git@a035adeaa6f8ea171bef9a43e8477abb87a0b35e#egg=unitree_sdk2py
